apiVersion: apps/v1
kind: Deployment
metadata:
  name: qc-frontend
  namespace: {{ include "queen-califia.ns" . }}
  labels:
{{ include "queen-califia.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: qc-frontend
      {{- include "queen-califia.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: qc-frontend
        {{- include "queen-califia.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- $psc := default .Values.podSecurityContext .Values.frontend.podSecurityContext -}}
      {{- with $psc }}
      securityContext:
{{ toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: frontend
          image: {{ include "queen-califia.image" (dict "img" .Values.frontend.image) }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          {{- $csc := default .Values.containerSecurityContext .Values.frontend.containerSecurityContext -}}
          {{- with $csc }}
          securityContext:
{{ toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.frontend.service.port }}
              name: http
          livenessProbe:
            httpGet:
              path: {{ .Values.frontend.probes.path }}
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: {{ .Values.frontend.probes.path }}
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6
          resources:
{{ toYaml .Values.frontend.resources | indent 12 }}
