{{- if .Values.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secrets.name }}
  namespace: {{ include "queen-califia.ns" . }}
  labels:
{{ include "queen-califia.labels" . | indent 4 }}
type: Opaque
stringData:
{{- range $k, $v := .Values.secrets.stringData }}
  {{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
